.button {
    background: linear-gradient(36deg, green, blue);
    transition: all 0.4s ease-in-out;
}

.button:hover {
    background: linear-gradient(36deg, blue, green);
    /* animation: hoverBtn 18s 0.3s linear infinite; */
}

/* @keyframes hoverBtn {
    0% {
        background: linear-gradient(36deg, rgb(17, 227, 182), rgb(72, 122, 248));
    }
    10% {
        background: linear-gradient(72deg, rgb(154, 238, 154), rgb(57, 57, 103));
    }
    20% {
        background: linear-gradient(108deg, rgb(52, 60, 165), rgb(128, 128, 187));
    }
    30% {
        background: linear-gradient(144deg, rgb(237, 168, 108), rgb(254, 40, 222));
    }
    40% {
        background: linear-gradient(180deg, rgb(198, 237, 38), rgb(222, 31, 240));
    }
    50% {
        background: linear-gradient(216deg, rgb(230, 45, 45), rgb(195, 41, 238));
    }
    60% {
        background: linear-gradient(252deg, rgb(142, 79, 34), rgb(145, 53, 226));
    }
    70% {
        background: linear-gradient(288deg, rgb(152, 219, 16), rgb(40, 191, 141));
    }
    80% {
        background: linear-gradient(324deg, rgb(47, 43, 79), rgb(106, 39, 165));
    }
    90% {
        background: linear-gradient(360deg, rgb(233, 28, 28), rgb(211, 34, 170));
    }
    100% {
        background: linear-gradient(0deg, rgb(25, 107, 67), rgb(73, 11, 58));
    }
} */


/* bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 */
